@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline-color: #a5b4fc;
  
}
body{
  background-image: url("C:\Users\Siddharth\Downloads\ai-generated-7877341_1920.jpg");
  background-size: cover;
    background-repeat: no-repeat;
    background-size: 1600px 850px;
  }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid red;
  margin-top: 5%;
  margin-left: 3%;
  color:black;
  font-weight: 500;
}
#sidtable
{
  margin-right: 1%;
}

td{
  padding: 5px;
  text-align: left;
}
th{
  padding: 5px;
  text-align: left;
  color: #ffffff;
  background-color: #2e1675;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e2e8f0;
  
}
#body
{
  background-color: rgba(0, 0, 0, 0.777); /* Adjust the opacity as needed  rgba(0, 0, 0, 0.6);*/
  color: #1ccab6; /* Text color */
}
#addbtn,#viewbtn{
  margin-top: 5%;
}
#addbtn{
  margin-right: 2%;
}
p {
  font-size: 14px;
  color: #6b7280;
}

.signup-form {
  width: 480px;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px #6b728040;
  text-align: center;
}

.header {
  margin-bottom: 48px;
}

.header h1 {
  font-weight: bolder;
  font-size: 28px;
  color: #6366f1;
}

.input {
  position: relative;
  margin-bottom: 24px;
}

.input input {
  width: 100%;
  border: none;
  padding: 8px 40px;
  border-radius: 4px;
  background-color: #f3f4f6;
  color: #1f2937;
  font-size: 16px;
}

.input input::placeholder {
  color: #6b7280;
}

.input i {
  top: 50%;
  width: 36px;
  position: absolute;
  transform: translateY(-50%);
  color: #6b7280;
  font-size: 16px;
}
#actions{
  width:80px;
  position : relative ;
    font-size : 14px ; 
    font-weight : bold ;
    
    transition : all .3s ease ;
}
.signup-btn {
  width: 100%;
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.e-signup-btn{
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width:45%;
}
.e-cancel-btn{
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width:45%;
}
#viewbtn,#addbtn {
  padding: 10px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
#logout{
  padding: 10px 0;
  padding: 10px;
  margin-top: 2%;
  font-size: 16px;
  cursor: pointer;
}
.signup-btn:active,#viewbtn:active,#addbtn:active {
  background-color: #4f46e5;
  transition: all 0.3s ease;
}
.cancel-btn:active {
  background-color: #4f46e5;
  transition: all 0.3s ease;
}
.icon
{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100px;
  line-height: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Adjust the color of the icon */
  color: #333;
  transition: color 0.3s;
}

.icon:hover {
  color: #ff0000; /* Change the color on hover */
}

.icon:active {
  transform: scale(1.2); /* Apply a scale transformation when the icon is clicked */
}
.search
{
  margin-top: 30px;
  margin-right: 273px;
}
.pagination-container {
  color: rgb(37, 35, 35);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 3%;
}

.page-input label {
  font-weight: bold;
}

.page-input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
